<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelDirectory" value="your excel directory here\Excel Doc" />
    <add key="logFolder" value="your log folder directory\Log\"/>
  </appSettings>
  <connectionStrings>
    <add name="myDabaseConnectionString" connectionString="Server=.server name;Database=database name;Integrated Security=true;" />
  </connectionStrings>
</configuration>


